.demo-chart{
     width: 400px;
   height: 210px;
      /* padding-top: 50px; */
      /* margin-left: 20px; */
      margin-top: -20px;
}

@media (min-width:1900px) {
  .demo-chart{
     width: 600px;
    height: 270px;
    margin-left:-26px;
}
}
  ::ng-deep .custom-toggle .p-toggleswitch .p-toggleswitch-slider {
  background-color: red !important;
  transition: background-color 0.3s ease !important;
}
 
::ng-deep .custom-toggle .p-toggleswitch-checked .p-toggleswitch-slider {
  background-color: #e0f7fa !important;
}
 
 