.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main circular card */
.circular-card {
    position: relative;
    width: 40%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

/* Left half container */
.left-half {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Top half */
.top-half {
    width: 100%;
    height: 49.5%;
    background-color: rgba(0, 123, 255, 0.8);
    border-top-left-radius: 50%;
    position: absolute;
    top: 2px;
    left: 0px;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}

.top-half2 {
    width: 100%;
    height: 49.5%;
    background-color: rgba(0, 123, 255, 0.8);
    border-top-left-radius: 50%;
    position: absolute;
    top: -2px;
    left: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

/* Bottom half */
.bottom-half {
    width: 100%;
    height: 49.5%;
    background-color: rgba(0, 86, 179, 0.8);
    border-bottom-left-radius: 50%;
    bottom: -2px;
    left: 0px;
    position: absolute;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.bottom-half2 {
    width: 100%;
    height: 49.5%;
    background-color: rgba(0, 123, 255, 0.8);
    border-bottom-left-radius: 50%;
    position: absolute;
    bottom: 2px;
    left: 0px;
    clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}