<div class="user-management">
    <div class="row">
        <div class="form-group">
            <div class="header-container">
                <i class="fa-solid fa-users header-icon"></i>
                <div>
                    <h2>User Management</h2>
                    <p class="description">Manage Team Access and Permissions</p>
                </div>
            </div>
        </div>

        <!-- Tabs Section -->
        <div class="row">
            <div class="nav-card">
                <nav>
                    <button (click)="setActiveTab('users')" [class.active]="activeTab === 'users'"><i
                            class="fa-solid fa-user-group"></i> User</button>
                    <button (click)="setActiveTab('addEditUser')" [class.active]="activeTab === 'addEditUser'"><i
                            class="fa-solid fa-user-plus"></i> Add/Edit User</button>
                    <!-- <button (click)="setActiveTab('roles')" [class.active]="activeTab === 'roles'"><i class="fa-solid fa-shield"></i> Roles</button> -->
                    <button (click)="setActiveTab('rolesDesignations')"
                        [class.active]="activeTab === 'rolesDesignations'"><i class="fa-solid fa-id-card"></i>
                        Role/Designation</button>
                    <button (click)="setActiveTab('userLog')" [class.active]="activeTab === 'userLog'"><i
                            class="fa-solid fa-rotate-left"></i> Session Log</button>
                </nav>
            </div>
        </div>
    </div>


    <!-- Users List Section -->
    <div class="users-card" *ngIf="activeTab === 'users'">
        <div class="users-header">
            <h3><i class="fa-solid fa-user-group"></i> Registered Members </h3>
            <button class="new-user-btn" (click)="addUser()"><i class="fa-solid fa-plus"></i>&nbsp; New User</button>
        </div>

        <!-- Table Header -->
        <div class="users-table">
            <div class="users-table-header">
                <div class="column">Name</div>
                <div class="column">Username</div>
                <div class="column">Role</div>
                <div class="column">Designation</div>
                <div class="column">Created Time</div>
                <div class="column actions-header">Actions</div>
            </div>

            <!-- Table Body -->
            <div class="table-container">
                <div class="user-row" *ngFor="let user of users">
                    <div class="column user-info">
                        <!-- <i class="user-photo fas fa-user-circle"></i> -->
                        <img [src]="user.avatar" class="user-photo" alt="User Avatar" />
                        <!-- <img [src]="user.image" alt="User Image" class="user-avatar" /> -->
                        <div>
                            <strong>{{ user.name }}</strong>
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="column">{{ user.username }}</div>
                    <div class="column">{{ user.role }}</div>
                    <div class="column">{{ user.designation }}</div>
                    <div class="column">
                        Time: {{ user.created | date:'dd-MM-yyyy HH:mm:ss':'UTC+3:00' }}
                    </div>
                    <div class="column actions">
                        <div class="icon-container">
                            <i class="fa-solid fa-edit edit-icon tooltip-icon" (click)="editUser(user)"></i>
                            <span class="tooltip-text">Edit User</span>
                        </div>
                        <div class="icon-container">
                            <i class="fa-solid fa-trash-can delete-icon" (click)="deleteUser(user.id!)"></i>
                            <span class="tooltip-text">Delete User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add/Edit User Section -->
    <div *ngIf="activeTab === 'addEditUser'">
        <div class="addedit-container">
            <!-- Left Section: User List -->
            <div class="left-section">
                <h3><i class="fa-solid fa-user-group"></i> All Members</h3>
                <div class="form-card user-list">
                    <div *ngFor="let user of users" class="user-item">
                        <!-- <i class="user-avatar fa-solid fa-user-circle"></i> -->
                        <img [src]="user.avatar" class="user-photo" alt="User Avatar" />
                        <!-- <img [src]="user.image" alt="User Image" class="user-avatar, user-photo" /> -->
                        <div class="user-info">
                            <p class="username">{{ user.username }}</p>
                        </div>
                        <div class="user-info">
                            <p class="username">{{ user.role }}</p>
                        </div>
                        <div class="user-actions">
                            <div class="column actions">
                                <div class="icon-container">
                                    <i class="fa-solid fa-edit edit-icon tooltip-icon" (click)="editUser(user)"></i>
                                    <span class="tooltip-text">Edit User</span>
                                </div>
                                <div class="icon-container">
                                    <i class="fa-solid fa-trash-can delete-icon" (click)="deleteUser(user.id!)"></i>
                                    <span class="tooltip-text">Delete User</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Section: Content -->
            <div class="right-section">
                <div class="form-header">
                    <h3><i class="fa-solid fa-user-plus"></i> {{ isEditing ? 'Edit User' : 'Add User' }}</h3>
                    <button type="button" class="back-button" (click)="backtoUsers()">
                        <i class="fa-solid fa-arrow-left"></i>&nbsp; Back to User
                    </button>
                </div>

                <div class="">
                    <form (submit)="saveUser()">
                        <!-- Name & Role -->
                        <div class="form-row">
                            <div class="form-group">
                                <label><i class="fa-solid fa-user"></i> Full Name</label>
                                <input type="text" [(ngModel)]="currentUser.name" name="name"
                                    placeholder="Enter full name" required />
                            </div>

                            <div class="form-group">
                                <label><i class="fa-solid fa-user-tag"></i> Role</label>
                                <div class="custom-select" [class.disabled]="isEditingAdmin"
                                    (click)="!isEditingAdmin && toggleDropdown()" [class.open]="dropdownOpen">
                                    <div class="selected-option">
                                        <span>
                                            {{ selectedRole || 'Select Role' }}
                                        </span>
                                        <span class="dropdown-arrow">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </span>
                                    </div>
                                    <div class="options" *ngIf="!isEditingAdmin && dropdownOpen" [@dropdownAnimation]>
                                        <div class="option" *ngFor="let role of filteredRoles"
                                            (click)="selectRole(role.name, $event)">
                                            {{ role.name }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Username & Password -->
                        <div class="form-row">
                            <div class="form-group">
                                <div class="col">
                                    <label><i class="fa-solid fa-id-badge"></i> Username</label>
                                    <!-- <input type="text" [(ngModel)]="currentUser.username" name="username"
                                    placeholder="Enter username" required /> -->

                                    <input type="text" [(ngModel)]="currentUser.username" name="username"
                                        placeholder="Enter username" required
                                        (input)="onUsernameInput(currentUser.username)"
                                        (input)="usernameTouched = true" />
                                </div>
                                <div *ngIf="usernameTouched && !isUsernameValid()" class="validation-error">Only letters
                                    and numbers allowed.</div>
                                <div *ngIf="usernameTaken" class="validation-error">Username is already taken.</div>
                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <label><i class="fa-solid fa-lock"></i> Password</label>
                                    <input type="password" [(ngModel)]="currentUser.password" name="password"
                                        placeholder="Enter password" required (input)="passwordTouched = true" />
                                </div>
                                <div *ngIf="passwordTouched && !isPasswordValid()" class="validation-error">
                                    Password must be 8-15 characters, with at least one uppercase letter, one number,
                                    and one special character.
                                </div>
                            </div>
                        </div>

                        <!-- Email & Confirm Password -->
                        <div class="form-row">

                            <div class="form-group">
                                <div class="col">
                                    <label><i class="fa-solid fa-envelope"></i> Email Address</label>
                                    <!-- <input type="email" [(ngModel)]="currentUser.email" [disabled]="isEditingAdmin"
                                    name="email" placeholder="Enter email address" required /> -->

                                    <input type="email" [(ngModel)]="currentUser.email" [disabled]="isEditingAdmin"
                                        name="email" placeholder="Enter email address" required
                                        (input)="onEmailInput(currentUser.email)" (input)="emailTouched = true" />
                                </div>
                                <div *ngIf="emailTouched && !isEmailFormatValid()" class="validation-error">Invalid
                                    email format.</div>
                                <div *ngIf="emailTaken" class="validation-error">Email is already in use.</div>
                            </div>

                            <div class="form-group">
                                <label><i class="fa-solid fa-lock"></i> Confirm Password</label>
                                <input type="password" [(ngModel)]="currentUser.confirmPassword" name="confirmPassword"
                                    placeholder="Confirm password" required />
                            </div>

                        </div>

                        <!-- Designation Avatar -->
                        <div class="form-row">
                            <div class="form-group">
                                <label><i class="fa-solid fa-briefcase"></i> Designation</label>
                                <div class="custom-select" [class.disabled]="isEditingAdmin"
                                    (click)="!isEditingAdmin && toggleDesignationDropdown()"
                                    [class.open]="designationDropdownOpen">
                                    <div class="selected-option">
                                        <span>
                                            {{ selectedDesignation || 'Select Designation' }}
                                        </span>
                                        <span class="dropdown-arrow">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </span>
                                    </div>
                                    <div class="options" *ngIf="!isEditingAdmin && designationDropdownOpen"
                                        [@dropdownAnimation]>
                                        <div class="option" *ngFor="let designation of filteredDesignations"
                                            (click)="selectDesignation(designation.title, $event)">
                                            {{ designation.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label><i class="fa-solid fa-user-circle"></i> Select Avatar</label>
                                <div class="avatar-selection">
                                    <div class="avatar-option" *ngFor="let avatar of avatars"
                                        [class.selected]="currentUser.avatar === avatar" (click)="selectAvatar(avatar)">
                                        <img [src]="avatar" alt="Avatar" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Save Button -->
                        <div class="form-footer">
                            <button type="submit" class="save-button">
                                <i class="fa-solid fa-floppy-disk"></i>&nbsp; Save User
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Roles/Designations -->
    <div *ngIf="activeTab === 'rolesDesignations'">
        <div class="designation-container">

            <!-- Roles List -->
            <div class="roles-list">
                <h3><i class="icon-shield"></i> Role</h3>
                <div class="roles-list-container">
                    <div class="role-card" *ngFor="let role of roles; let i = index">
                        <div class="Column role-info">
                            <h3>{{ role.name }}</h3>
                            <p>{{ role.description }}</p>
                        </div>
                        <div class="Column role-actions">
                            <p>Access</p>
                            <div class="permissions">
                                <!-- <div class="tooltip-icon" *ngFor="let permission of role.permissions">
                                  <i class="fa-solid" [ngClass]="permissionIcons[permission]"></i>
                                  <span class="tooltip-text2">{{ permission }}</span>
                                </div> -->

                                <!-- <div class="permissions" *ngIf="role.permissions">
                                    <div *ngFor="let entry of objectEntries(role.permissions)">
                                      <strong>{{ entry[0] }}</strong>:
                                      <span *ngFor="let action of entry[1]" class="action-icon">
                                        <i class="fa-solid" [ngClass]="actionIcons[action]"></i> {{ action }}
                                      </span>
                                    </div>
                                  </div> -->

<div class="permissions-icons" *ngIf="role.permissions">
  <div class="page-icon-tooltip" *ngFor="let entry of objectEntries(role.permissions)">
    <div class="tooltip-wrapper"
         (mouseenter)="showTooltip(role.name + '-' + entry[0])"
         (mouseleave)="hideTooltip(role.name + '-' + entry[0])">
      <i class="fa-solid" [ngClass]="permissionIcons[entry[0]] || 'fa-circle-question'"></i>
      <div class="tooltip-text2" [class.visible]="activeTooltip === (role.name + '-' + entry[0])">
        <strong>{{ entry[0] }}</strong><br />
        <ng-container *ngFor="let action of entry[1]">
          • {{ action }}<br />
        </ng-container>
      </div>
    </div>
  </div>
</div>


                            </div>
                        </div>
                        <div class="column action">
                            <div class="icon-container">
                                <i class="fa-solid fa-edit edit-icon tooltip-icon" (click)="editRole(role)"></i>
                                <span class="tooltip-text">Edit Role</span>
                            </div>
                            <div class="icon-container">
                                <i class="fa-solid fa-trash-can delete-icon" (click)="deleteRole(role.name)"></i>
                                <span class="tooltip-text">Delete Role</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Designation List -->
            <div class="designation-list">
                <h3><i class="icon-briefcase"></i> Designations</h3>
                <div class="designations-list-container">
                    <div class="designation-card" *ngFor="let designation of designations">
                        <div class="designation-info">
                            <h3>{{ designation.title }}</h3>
                            <p>{{ designation.description }}</p>
                        </div>
                        <div class="icon-container">
                            <i class="fa-solid fa-trash-can delete-icon" (click)="deleteDesignation(designation)"></i>
                            <span class="tooltip-text">Delete Designation</span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Add Role / Designation Form -->
            <div class="form-container">

                <!-- Add New Role -->
                <div class="add-role-form">
                    <form (ngSubmit)="addRole()">

                        <div class="button-group">
                            <h3>{{ isEditRole ? 'Update Role' : 'Add Role' }}</h3>
                            <button type="submit" class="add-button">
                                <i Class="fa-solid fa-plus"></i>&nbsp;
                                {{ isEditRole ? 'Update Role' : 'Add Role' }}
                            </button>
                        </div>

                        <div class="form-group">
                            <label for="roleName"><i class="fa-solid fa-user-shield"></i> Role</label>
                            <input type="text" id="roleName" [(ngModel)]="newRole.name" name="roleName"
                                placeholder="Enter role" class="input-box" required />
                        </div>

                        <div class="form-group">
                            <label for="roleDescription"><i class="fa-solid fa-align-left"></i> Description</label>
                            <input type="text" id="roleDescription" [(ngModel)]="newRole.description" name="description"
                                placeholder="Enter role description" required />
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label><i class="fa-solid fa-key"></i>Select Permissions</label>
                                <!-- <ng-select [items]="allPermissions" bindLabel="" bindValue="" name="permission"
                                    [ngModelOptions]="{ standalone: true }" [(ngModel)]="newRole.permissions"
                                    [multiple]="true" class=" ng-select-custom">
                                </ng-select> -->

                                <!-- <ng-select
                                    [items]="actions"
                                    [multiple]="true"
                                    [(ngModel)]="newRole.permissions[page]"
                                    [ngModelOptions]="{ standalone: true }"
                                    placeholder="Select actions"
                                    class="ng-select-custom">
                                </ng-select> -->

                                <!-- <ng-select
                                [items]="allPermissions"
                                [(ngModel)]="newRole.flatPermissions"
                                [multiple]="true"
                                class="ng-select-custom"
                                name="permissions"
                                [ngModelOptions]="{ standalone: true }">
                                </ng-select>                             -->

                                <p-multiSelect [options]="allPermissions" [(ngModel)]="newRole.flatPermissions"
                                    name="permissions" optionLabel="" defaultLabel="Select Permissions"
                                    [showToggleAll]="true" [display]="'chip'" class="p-multiselect-custom"
                                    [ngModelOptions]="{ standalone: true }">
                                </p-multiSelect>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- Add New Designation -->
                <div class="add-designation-form">
                    <form (submit)="addDesignation()">

                        <div class="button-group">
                            <h3>Add Designation</h3>
                            <button type="submit" class="add-button"><i class="fa-solid fa-plus"></i>&nbsp; Add
                                Designation</button>
                        </div>

                        <div class="form-group">
                            <label for="designationTitle"><i class="fa-solid fa-id-badge"></i> Title</label>
                            <input type="text" id="designationTitle" name="title" [(ngModel)]="newDesignation.title"
                                [ngModelOptions]="{standalone: true}" placeholder="Enter designation title" required />
                        </div>

                        <div class="form-group">
                            <label for="designationDescription"><i class="fa-solid fa-align-left"></i>
                                Description</label>
                            <input type="text" id="designationDescription" name="description"
                                [(ngModel)]="newDesignation.description" [ngModelOptions]="{standalone: true}"
                                placeholder="Enter designation description" required />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- User Log -->
    <div *ngIf="activeTab === 'userLog'">
        <app-userlog></app-userlog>
    </div>
</div>