<div class="general_main">
    <div class="profile">
        <div class="upload_pic">
            <input type="file" name="" id="" accept=".png .jpg .jpeg">
        </div>
        <div class=" profile_img">
            <i class="fa fa-edit"></i>
            <!-- <img src="../../../assets/profile.png" alt=""> -->
        </div>
        <div class="fields">
            <h3>Name</h3>
            <input type="text" [value]="user?.name" readonly>

            <h3>E-mail</h3>
            <input type="text" [value]="user?.email" readonly>

            <h3>Designation</h3>
            <input type="text" [value]="user?.designation" readonly>

            <h3>Role</h3>
            <input type="text" [value]="user?.role" readonly>

            <h3>Permissions</h3>
            <input type="text" [value]="user?.permissions" readonly>

            <button>
                <i class="fa-solid fa-right-from-bracket" style="margin-right: 20px;"></i>
                Log out</button>
        </div>
    </div>
    <div class="settings">
        <h2>Permissions</h2>
        <!-- <select name="role" id="">
            <option value="admin">Admin</option>
            <option value="moderator">Moderator</option>
            <option value="user">User</option>

        </select> -->
        <h3>Admin</h3>
        <div class="multi-select-container" (clickOutside)="closeDropdown()">
            <div class="multi-select-box" (click)="toggleDropdown()">
                <div class="selected-options">
                    <span *ngFor="let option of selectedOptions; let i = index" class="selected-option">
                        {{ option.text }}
                        <span class="remove-btn" (click)="removeOption(i, option)"
                            style="font-weight: 100; font-size: 12px;">✖</span>
                    </span>
                    <input *ngIf="false" type="text" placeholder="Select an option" readonly>
                </div>
                <div class="arrow">&#9662;</div>
            </div>

            <div class="dropdown-options" *ngIf="dropdownOpen">
                <div *ngFor="let option of options; let i = index" class="option" [class.selected]="option.selected"
                    (click)="toggleOption(i)">
                    {{ option.text }}
                    <span *ngIf="option.selected" class="checkmark">✔</span>
                </div>
            </div>
        </div>
        <h3>User</h3>
        <div class="multi-select-container" (clickOutside)="closeDropdown2()">
            <div class="multi-select-box" (click)="toggleDropdown2()">
                <div class="selected-options">
                    <span *ngFor="let option of selectedOptions2; let i = index" class="selected-option">
                        {{ option.text }}
                        <span class="remove-btn" (click)="removeOption2(i, option)"
                            style="font-weight: 100; font-size: 12px;">✖</span>
                    </span>
                    <input *ngIf="false" type="text" placeholder="Select an option" readonly>
                </div>
                <div class="arrow">&#9662;</div>
            </div>

            <div class="dropdown-options" *ngIf="dropdownOpen2">
                <div *ngFor="let option of options2; let i = index" class="option" [class.selected]="option.selected"
                    (click)="toggleOption2(i)">
                    {{ option.text }}
                    <span *ngIf="option.selected" class="checkmark">✔</span>
                </div>
            </div>
        </div>
        <h3>Moderator</h3>
        <div class="multi-select-container" (clickOutside)="closeDropdown3()">
            <div class="multi-select-box" (click)="toggleDropdown3()">
                <div class="selected-options">
                    <span *ngFor="let option of selectedOptions3; let i = index" class="selected-option">
                        {{ option.text }}
                        <span class="remove-btn" (click)="removeOption3(i, option)"
                            style="font-weight: 100; font-size: 12px;">✖</span>
                    </span>
                    <input *ngIf="false" type="text" placeholder="Select an option" readonly>
                </div>
                <div class="arrow">&#9662;</div>
            </div>

            <div class="dropdown-options" *ngIf="dropdownOpen3">
                <div *ngFor="let option of options3; let i = index" class="option" [class.selected]="option.selected"
                    (click)="toggleOption3(i)">
                    {{ option.text }}
                    <span *ngIf="option.selected" class="checkmark">✔</span>
                </div>
            </div>
        </div>

        <!-- <div class="permissions_tab"></div> -->

    </div>
</div>