.battery-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pin {
    display: flex;
    flex-direction: row;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6px;
    width: 15px;
    margin-right: 4px;
    border-radius: 2px 2px;
    background-color: grey;
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6px;
    width: 15px;
    margin-left: 4px;
    margin-right: 10px;
    border-radius: 2px 2px;
    background-color: grey;
}

p {
    font-size: 16px;
    color: white;
}

@media (max-width: 1300px) {
    .battery-shell {
        height: 100px !important;
        width: 15px !important;
    }

    .plus,
    .minus {
        height: 6px !important;
        width: 15px !important;
    }
}

/* .info-item {
    width: 100%;
    align-items: center;
} */

.battery-shell {
    width: 40px;
    height: 70px;
    background-color: #ddd;
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
}



.battery-fill {
    width: 100%;
    animation: batteryFill 2s forwards;
    transition: height 0.5s ease;
    border-radius: 5px;
}

@keyframes batteryFill {
    from {
        height: 0;
    }

    to {
        height: height;
    }
}