.sensor-tabs {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* .tabs {
  display: flex;
  gap: 20px;
  padding-bottom: 12px;
  margin: 20px;
  justify-content: center;
} */

.sensor-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  /* background-color: #f8f9fa; */
  /* border: 1px solid #e9ecef; */
  
  &:hover {
    background-color: #e9ecef;
    transform: translateY(-2px);
  }
  
  &.active {
    background-color: rgb(113, 180, 248);
    color: white;
    border-color: rgb(113, 180, 248);
    
    .icon {
      transform: scale(1.1);
    }
  }
}

.icon {
  font-size: 24px;
  transition: transform 0.2s ease;
}