<!-- <div class="analisys_main">
    <div class="analisys_right">
        <div class="one">

        </div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>

    </div>
    <div class="analisys_left">
    </div>
</div> -->

<div class="main_analis">
    <div class="left">
        <div class="top"></div>
        <div class="center"></div>
        <div class="middle"></div>
        <div class="bottom"></div>
    </div>
    <div class="right"></div>
</div>