.sidebar{
    margin: 0px;
    height: 100vh;
    width: 3%;
    margin-top: 50px;
    /* background-color: var(--basebg); */
    background: rgb(10,97,184);
    background: linear-gradient(90deg, rgb(111, 180, 249) 0%, rgb(113, 180, 248) 100%);
     
    color: var(--icons);
    position: fixed;
    border-radius: 5px;
    background-color: var(--mainbg);  border-radius: 10px;
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}
.navigators{
    height: 60%;
    width: 100%;
    margin-top: 30px;
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
    /* color: black; */
}
.navigators i{
    height: 30px;
    width: 30px;
    /* background-color: rgba(155, 155, 155, 0.169); */
    /* color: black; */
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    flex-direction: column;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.navigators i.selected {
    background-color: rgba(155, 155, 155, 0.5); /* Background color for selected option */
    color: rgb(255, 255, 255); /* Change text color for visibility */
  }
