.stat-circle {
    display: block;
  }
  
  circle.bg {
    fill: none;
    stroke: #f1f1f1;
    stroke-width: 2;
  }
  
  circle.progress {
    fill: none;
    stroke: #2ecc71;
    stroke-width: 2;
    stroke-dasharray: 51 51;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease-in-out; /* Smooth animation */
  }
  
  text {
    font-size: 3px;
    text-anchor: middle;
    fill: #555;
  }
  

  .stat-circle svg{
    height: 20px !important;
    width: 20px !important;
  }

  .batt{
    position: relative;
  }
  .icon{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40%;
    left: 35%;
  }