.parent-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .fixed-header {
    flex-shrink: 0; /* Prevent header from shrinking */
    /* Add any header-specific styles here */
  }
  
  .scrollable-content {
    flex-grow: 1; /* Take remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 16px; /* Optional padding */
    
    /* Custom scrollbar (optional) */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  
  .main-content, .data-loss-chart {
    margin-bottom: 24px; /* Space between sections */
  }

  ::ng-deep .p-datepicker-panel {
    background: var(--highlight-color) !important;
    border: 1px solid var(--highlight-color-shadow) !important;
    /* color: var(--text-color) !important; */
  }
 
  ::ng-deep .p-datepicker-header {
    background: var(--highlight-color) !important;
  }
 
  ::ng-deep .p-datepicker-day-selected {
    background: var(--highlight-color-shadow) !important;
  }
 
  ::ng-deep .p-button-sm.p-button-icon-only.p-button-rounded svg{
    /* fill: white !important; */
    color: white !important;
  }
 
  ::ng-deep .p-datepicker-year-selected {
    background: var(--highlight-color-shadow) !important;
  }
 
  ::ng-deep .p-button-label {
    font-weight: normal;
    transition: 0.3s;
  }
 
  ::ng-deep .p-button-label:hover {
    font-weight: bold;
  }
  