<div class="station_main">
    <div class="section_divide">

        <div class="station_list_tab">
            <div class="title_card">
                <h3>Stations</h3>

            </div>
            <div class="station_list_tab_inner">

                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2>North Station</h2>
                            <p>temperature, humidity, pressure</p>
                        </div>
                        <span class="status"></span>
                    </div>
                    <div class="card-actions">
                        <button (click)="editStation(1)">
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button (click)="infoStation(2)">
                            <i class="fas fa-info-circle"></i>
                            <span>Details</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2>North Station</h2>
                            <p>temperature, humidity, pressure</p>
                        </div>
                        <span class="status"></span>
                    </div>
                    <div class="card-actions">
                        <button>
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button>
                            <i class="fas fa-info-circle"></i>
                            <span>Details</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2>North Station</h2>
                            <p>temperature, humidity, pressure</p>
                        </div>
                        <span class="status"></span>
                    </div>
                    <div class="card-actions">
                        <button>
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button>
                            <i class="fas fa-info-circle"></i>
                            <span>Details</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2>North Station</h2>
                            <p>temperature, humidity, pressure</p>
                        </div>
                        <span class="status"></span>
                    </div>
                    <div class="card-actions">
                        <button>
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button>
                            <i class="fas fa-info-circle"></i>
                            <span>Details</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2>North Station</h2>
                            <p>temperature, humidity, pressure</p>
                        </div>
                        <span class="status"></span>
                    </div>
                    <div class="card-actions">
                        <button>
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button>
                            <i class="fas fa-info-circle"></i>
                            <span>Details</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2>North Station</h2>
                            <p>temperature, humidity, pressure</p>
                        </div>
                        <span class="status"></span>
                    </div>
                    <div class="card-actions">
                        <button>
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button>
                            <i class="fas fa-info-circle"></i>
                            <span>Details</span>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div>
                            <h2>North Station</h2>
                            <p>temperature, humidity, pressure</p>
                        </div>
                        <span class="status"></span>
                    </div>
                    <div class="card-actions">
                        <button>
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                        </button>
                        <button>
                            <i class="fas fa-info-circle"></i>
                            <span>Details</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="actions_section">
            <h3>Station Details</h3>
            <div class="section_details" *ngIf="section == 2">

                <div class="left_details">
                    <div class="left_details_title">
                        <h2>North Station</h2>
                        <button>Active</button>
                    </div>
                    <img src="../../../assets/image/live_buoy1.png" alt="">
                    <p>Buoy001</p>
                    <h5>Thresholds</h5>

                    <div class="threasholds">
                        <div class="warning_field">
                            <p>Warning Threshold</p>
                            <input type="number" value="10" readonly>
                        </div>
                        <div class="danger_field">
                            <p>Danger Threshold</p>
                            <input type="number" value="20" readonly>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <h5>Coordinates</h5>
                    <p>DD (Degree Decimal)</p>
                    <h5>Coordinates</h5>

                    <div class="threasholds">
                        <div class="warning_field">
                            <p>Latitude</p>
                            <input type="number" value="10" readonly>
                        </div>
                        <div class="danger_field">
                            <p>Longitude</p>
                            <input type="number" value="20" readonly>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="left_details_content">
                        <h5>Sensors</h5>
                        <div class="list_sensors">
                            <p>Oceaonography</p>
                            <p>Water Level</p>
                            <p>Meteriology</p>
                            <p>MicroFLu</p>
                        </div>
                    </div>
                </div>
                <div class="right_details">
                    <div id="ol-map" class="map-container"></div>
                </div>
            </div>
            <!-- </div>
        <div class="actions_section"> -->
            <div class="section_details" *ngIf="section==1">

                <div class="left_details">
                    <div class="img_name_id">
                        <div class="left_ini">
                            <h5>Station Name</h5>
                            <input type="text" value="10">
                            <h5>Station Name</h5>
                            <input type="text" value="10">
                        </div>
                        <div class="right_ini">
                            <img [src]="imageUrl" alt="Upload Image" (click)="uploadImage($event)" class="upload-img">
                            <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                                class="inputbox">
                        </div>
                    </div>
                    <!-- <div class="left_details_title">
                        <h2></h2>
                        <img [src]="imageUrl" alt="Upload Image" (click)="uploadImage($event)" class="upload-img">
                        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                            class="inputbox">
                    </div>
                    <div class="threasholds" style="margin-top: -10px; margin-left: 0px;">
                        <div class="warning_field">
                            <p style="font-weight: 600;">Station Name</p>
                            <input type="text" value="10">
                        </div>

                    </div>
                    <div class="threasholds" style="margin-left: 0px;">
                        <div class="warning_field">
                            <p style="font-weight: 600;">Station ID</p>
                            <input type="text" value="10">
                        </div>

                    </div> -->
                    <h5>Thresholds</h5>

                    <div class="threasholds">
                        <div class="warning_field">
                            <p>Warning Threshold</p>
                            <input type="number" value="10">
                        </div>
                        <div class="danger_field">
                            <p>Danger Threshold</p>
                            <input type="number" value="20">
                        </div>
                    </div>
                    <!-- <div class="divider"></div> -->
                    <h5>Coordinates</h5>
                    <div class="toggle_pint">
                        <p>DD</p>
                        <div class="toggle" [ngClass]="{'toggledms': mainToggle}"
                            [ngStyle]="{'background-color': mainToggle ? 'blue' : 'rgb(224, 223, 223)'}"
                            (click)="toggle()">
                            <div class="t_button"></div>
                        </div>
                        <p style="margin-left: -5px;">DMS</p>
                    </div>
                    <!-- <p>DD (Degree Decimal)</p> -->
                    <h5>Coordinates</h5>

                    <div class="threasholds" *ngIf="!mainToggle">
                        <div class="warning_field">
                            <p>Latitude</p>
                            <input type="number" value="10">
                        </div>
                        <div class="danger_field">
                            <p>Longitude</p>
                            <input type="number" value="20">
                        </div>
                    </div>
                    <p style="font-weight: 500;" *ngIf="mainToggle">Latitude</p>
                    <div class="threasholds" *ngIf="mainToggle">
                        <div class="warning_field">
                            <p style="font-size: 12px;">Degree</p>
                            <input type="number" value="10">
                        </div>
                        <div class="danger_field">
                            <p style="font-size: 12px;">Minutes</p>
                            <input type="number" value="20">
                        </div>
                        <div class="danger_field">
                            <p style="font-size: 12px;">Seconds</p>
                            <input type="number" value="20">
                        </div>

                    </div>
                    <p style="font-weight: 500;" *ngIf="mainToggle">Longitude</p>
                    <div class="threasholds" *ngIf="mainToggle">
                        <div class="warning_field">
                            <p style="font-size: 12px;">Degree</p>
                            <input type="number" value="10">
                        </div>
                        <div class="danger_field">
                            <p style="font-size: 12px;">Minutes</p>
                            <input type="number" value="20">
                        </div>
                        <div class="danger_field">
                            <p style="font-size: 12px;">Seconds</p>
                            <input type="number" value="20">
                        </div>

                    </div>
                    <!-- <div class="divider"></div> -->

                    <div class="left_details_content">
                        <h5>Sensors</h5>
                        <div class="list_sensors">
                            <p>Oceaonography</p>
                            <p>Water Level</p>
                            <p>Meteriology</p>
                            <p>MicroFLu</p>
                        </div>
                    </div>
                </div>
                <div class="right_details">
                    <div id="ol-map" class="map-container"></div>
                </div>
            </div>
        </div>
    </div>

</div>




<!-- 
<div class="card">
    <div class="card-header">
        <div>
            <h2>North Station</h2>
            <p>temperature, humidity, pressure</p>
        </div>
        <span class="status">Active</span>
    </div>
    <div class="card-actions">
        <button>
            <i class="fas fa-edit"></i>
            <span>Edit</span>
        </button>
        <button>
            <i class="fas fa-info-circle"></i>
            <span>Details</span>
        </button>
    </div>
</div> -->