.data_score_main {
    height: 100%;
    width: 100%;
    background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
    
  }
  
  .title_data {
    height: 19%;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
  }
  
  .score_tab {
    height: 78%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: azure; */
    margin: 5px;
  }
  
  .title_data span {
    font-size: 12px;
    font-weight: 100;
  }
  
  .score {
    height: 50%;
    margin: 10px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1CB5E0, #4747f895);
    border-radius: 6px;
  }
  
  .score p {
    font-size: 13px;
    font-weight: 300;
  }
  
  .score_bars {
    height: 100%;
    width: 100%;
    /* background-color: #1CB5E0; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .bar_item {
    height: 100%;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bar {
    height: 80%;
    width: 40%;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  
  .bar_fill {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: green;
    transition: height 1s ease-in-out;
  }
  