.data_score_main {
    height: 100%;
    width: 100%;
    background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
    
  }
  
  .title_data {
    height: 19%;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
  }
  
  .score_tab {
    height: 78%;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: azure; */
    margin: 5px;
  }
  
  .title_data span {
    font-size: 12px;
    font-weight: 100;
  }
  
  .score {
    height: 50%;
    margin: 10px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1CB5E0, #4747f895);
    border-radius: 6px;
    font-size: 12px;
  }
  
  .score p {
    font-size: 13px;
    font-weight: 300;
  }
  
  .score_bars {
    height: 100%;
    width: 100%;
    /* background-color: #1CB5E0; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .bar_item {
    height: 100%;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bar {
    height: 80%;
    width: 45%;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  
  .bar_fill {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(61, 206, 61);
    transition: height 1s ease-in-out;
  }
  .sensor_list{
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .sensor_list svg{
    height: 30px;
    width: 30px;
    /* border: 2px 2px 6px blue; */
  }
  .svg_icon_bor{
    height: 30px;
    width: 30px;
    border-radius: 16px;
    background-color: #1CB5E0;
    position: relative;
    
    
  }
  .svg_icon_bor::after {
    content: attr(data-tooltip); /* Get text from data-tooltip attribute */
    position: absolute;
    bottom: 120%; /* Position above the div */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.svg_icon_bor:hover::after {
    visibility: visible;
    opacity: 1;
}
  .svg_icon_bor_active{
    border: 1.5px blue solid;
  }
  .svg_icon_bor i{
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: blue;
    border-radius: 10px;
    color: rgb(255, 255, 255);
  }
  select{
    height: 30px;
    width: 120px;
    border-radius: 10px;
  }









  /* test */
  