<div class="notification-container">
  <p-toast></p-toast>
  
  <div class="header">
    <h2>Notification Management</h2>
    <p-button label="Add" icon="fa-solid fa-plus" (click)="showAddDialog()"></p-button>
  </div>

  <div class="search-container mb-3">
    <span class="p-input-icon-left w-full">
      <input type="text" pInputText [(ngModel)]="searchText" (input)="applyFilter()" placeholder="Search notifications..." class="w-full">
    </span>
  </div>

  <p-card class="notifications-list">
    <p-table [value]="filteredNotifications" stripedRows [scrollable]="true" scrollHeight="calc(100vh - 180px)">
      <ng-template pTemplate="header">
        <tr>
          <th>Station ID</th>
          <th>Station Name</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-notification>
        <tr>
          <td>{{ notification.station_id }}</td>
          <td>{{ notification.station_name }}</td>
          <td>{{ notification.user_name }}</td>
          <td>{{ notification.user_email }}</td>
          <td>{{ notification.user_phone_number }}</td>
          <td>
            <div class="toggle-container">
              <label class="toggle-switch">
                  <input 
                      type="checkbox" 
                      [checked]="notification.enabled === 'true'"
                      (change)="toggleNotificationStatus(notification)">
                  <span class="slider round"></span>
              </label>
          </div>
          </td>
          <td>
            <button class="delete-btn" (click)="deleteNotification(notification.id)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            <i class="fa-solid fa-pen-to-square" style="cursor: pointer;" (click)="showEditDialog(notification)"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="no-data">No notifications found</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-dialog header="Add New Notification" [(visible)]="displayAddDialog" [modal]="true" [style]="{width: '26rem'}" 
    [draggable]="false" [resizable]="false">
    <span class="p-text-secondary block mb-4">Add a new notification for the station.</span>
    <form (ngSubmit)="addNotification()" (input)="clearMessages()">
      <div class="flex flex-column gap-4">
        <div class="flex items-center gap-3">
          <label for="station_id" class="font-semibold w-24">Station</label>
          <span class="p-input-icon-left flex-auto">
            <p-multiselect [options]="stations" [(ngModel)]="newNotification.station_id" name="station_id" 
              optionLabel="station_name" optionValue="station_id" placeholder="Select Stations" class="w-full md:w-56" required
              [showToggleAll]="true" [showClear]="true" (onChange)="onStationChange($event)">
            </p-multiselect>
          </span>
        </div>

        <div class="flex items-center gap-3">
          <label for="user_name" class="font-semibold w-24">Name</label>
          <span class="p-input-icon-left flex-auto">
            <input type="text" pInputText id="user_name" [(ngModel)]="newNotification.user_name" name="user_name" class="w-full" required>
          </span>
        </div>

        <div class="flex items-center gap-3">
          <label for="user_email" class="font-semibold w-24">Email</label>
          <span class="p-input-icon-left flex-auto">
            <input type="email" pInputText id="user_email" [(ngModel)]="newNotification.user_email" name="user_email" class="w-full" required>
          </span>
        </div>

        <div class="flex items-center gap-3">
          <label for="user_phone_number" class="font-semibold w-24">Phone</label>
          <div class="flex gap-2 flex-auto">
            <p-dropdown [options]="countryCodes" [(ngModel)]="newNotification.country_code" name="country_code" 
              optionLabel="name" optionValue="code" [style]="{'width': '120px'}" appendTo="body">
            </p-dropdown>
            <span class="p-input-icon-left flex-auto">
              <input type="tel" pInputText id="user_phone_number" [(ngModel)]="newNotification.user_phone_number" name="user_phone_number" class="w-full">
            </span>
          </div>
        </div>

        <div class="messages" *ngIf="errorMessage || successMessage">
          <p-message severity="error" *ngIf="errorMessage" [text]="errorMessage"></p-message>
          <p-message severity="success" *ngIf="successMessage" [text]="successMessage"></p-message>
        </div>

        <div class="flex justify-end gap-2 mt-4">
          <p-button label="Cancel" severity="secondary" (click)="hideAddDialog()" icon="fa-solid fa-xmark"></p-button>
          <p-button type="submit" label="Add" icon="fa-solid fa-plus"></p-button>
        </div>
      </div>
    </form>
  </p-dialog>

  <p-dialog header="Edit Notification" [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '26rem'}" 
    [draggable]="false" [resizable]="false" (onHide)="hideEditDialog()">
    <span class="p-text-secondary block mb-4">Edit the notification details.</span>
    <form (ngSubmit)="updateNotification()" (input)="clearMessages()">
      <div class="flex flex-column gap-4">
        <div class="flex items-center gap-3">
          <label for="station_id" class="font-semibold w-24">Station</label>
          <span class="p-input-icon-left flex-auto">
            <p-multiselect [options]="stations" [(ngModel)]="newNotification.station_id" name="station_id" 
              optionLabel="station_name" optionValue="station_id" placeholder="Select Stations" class="w-full md:w-56" required
              [showToggleAll]="true" [showClear]="true" (onChange)="onStationChange($event)">
            </p-multiselect>
          </span>
        </div>

        <div class="flex items-center gap-3">
          <label for="user_name" class="font-semibold w-24">Name</label>
          <span class="p-input-icon-left flex-auto">
            <input type="text" pInputText id="user_name" [(ngModel)]="newNotification.user_name" name="user_name" class="w-full" required>
          </span>
        </div>

        <div class="flex items-center gap-3">
          <label for="user_email" class="font-semibold w-24">Email</label>
          <span class="p-input-icon-left flex-auto">
            <input type="email" pInputText id="user_email" [(ngModel)]="newNotification.user_email" name="user_email" class="w-full" required>
          </span>
        </div>

        <div class="flex items-center gap-3">
          <label for="user_phone_number" class="font-semibold w-24">Phone</label>
          <div class="flex gap-2 flex-auto">
            <span class="p-input-icon-left flex-auto">
              <input type="tel" pInputText id="user_phone_number" [(ngModel)]="newNotification.user_phone_number" name="user_phone_number" class="w-full">
            </span>
          </div>
        </div>

        <div class="messages" *ngIf="errorMessage || successMessage">
          <p-message severity="error" *ngIf="errorMessage" [text]="errorMessage"></p-message>
          <p-message severity="success" *ngIf="successMessage" [text]="successMessage"></p-message>
        </div>

        <div class="flex justify-end gap-2 mt-4">
          <p-button label="Cancel" severity="secondary" (click)="hideEditDialog()" icon="fa-solid fa-xmark"></p-button>
          <p-button type="submit" label="Update" icon="fa-solid fa-check"></p-button>
        </div>
      </div>
    </form>
  </p-dialog>
</div>
