<main>

    <div class="map-container">
        <button (click)="expandMap()" class="expand-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z" />
            </svg>
        </button>
        <div id="ol-map" class="map"></div>
        <div class="expand-space">
            <div class="expand-rectangle" *ngFor="let station of stations; let i = index">

                <div class="value">{{ `B_ID${i + 1}` }}</div>

                <img src="../../assets/home/buoy.png" alt="Profile" class="profile-img">
                <!-- <div class="info-item">
                    <span class="value">{{ station.name }}</span>
                </div> -->

                <div class="info-row">
                    <div class="info-item">
                        <img class="locationimg" src="../../assets/home/lll-removebg-preview.png" alt="location">
                    </div>
                    <div class="info-column">
                        <div class="info-item">
                            <span class="value">{{`${buoy1lat}°`}}</span>
                        </div>
                        <div class="info-item">
                            <span class="value">{{`${buoy1long}°`}}</span>
                        </div>
                    </div>
                </div>

                <div class="info-row">
                    <span class="value">{{ station.status }}</span>
                    <img class="active" src="../../../../assets/home/active.png" alt="online">
                </div>
                <div class="info-row">
                    <span class="value">{{ buoyDrift }}</span>
                    <img class="locationimg" src="../../assets/home/buoy-unscreen.gif" alt="drift">
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="ol-map" class="map-container"></div> -->

    <img src="../../assets/home/one.png" alt="Floating Image 1" class="floating-image1"
        (click)="mapChange('OpenCycleMap')">
    <img src="../../assets/home/four.png" alt="Floating Image 2" class="floating-image2"
        (click)="mapChange('Transport')">
    <img src="../../assets/home/six.png" alt="Floating Image 3" class="floating-image3"
        (click)="mapChange('Landscape')">
    <img src="../../assets/home/five.png" alt="Floating Image 4" class="floating-image4"
        (click)="mapChange('Outdoors')">
    <img src="../../assets/home/two.png" alt="Floating Image 5" class="floating-image5"
        (click)="mapChange('TransportDark')">
    <img src="../../assets/home/thre.png" alt="Floating Image 6" class="floating-image6"
        (click)="mapChange('Spinal Map')">


    <app-infobuoy *ngIf="buoyTapped" [buoyName]="selectedBuoy" [latitude]="buoy1lat" [longitude]="buoy1long"
        [status]="buoyDrift"></app-infobuoy>

    <div class="powered">
        <div class="image"></div>
        <span>powerd by Tridel Technologies Pvt, Ltd.,</span>
    </div>

    <!-- @if (buoy1range !== '') {
    <div class="buoy1">
        {{buoy1range}}
    </div>
    } -->
</main>