<div class="bar_station_select">
    <h4>Select Station</h4>
    <select name="select" id="" class="station_select">
        <option value="all">Please Select Station</option>
        <option value="1">Station 1</option>
        <option value="2">Station 2</option>
        <option value="3">Station 3</option>
    </select>
</div>
<div class="period">

    <select name="select" id="" class="station_select">
        <option value="all">Please Select Station</option>
        <option value="1">Station 1</option>
        <option value="2">Station 2</option>
        <option value="3">Station 3</option>
    </select>
</div>