<div class="mainBar">
    <div class="title" style="color: white; flex-grow: 1;">
        <h3 style="color: white; margin-left: 10px;">Terra {{screen}}</h3>
    </div>
    <div class="bar_station_select">
        <h5 class="field_title">Select Station</h5>
        <select name="select" id="" class="station_select" [(ngModel)]="selectedStation" (change)="onStationChange($event)">
            <option value="all">Please Select Station</option>
            <option value="ST001">Station 1</option>
            <option value="ST002">Station 2</option>
            <option value="ST003">Station 3</option>
            <option value="ST004">Station 4</option>
            <option value="ST005">Station 5</option>
        </select>
    </div>
    <p style="margin-right: 20px;">Last Updated : 2025-03-25 10:07:13</p>
    <div class="user_session">

        <img src="../../assets/image/profile_default.png" alt="">
        <!-- <ul class="profile-dropdown" *ngIf="!dropdownOpen">
            <li>Admin</li>
            <li>Logout</li>
        </ul> -->
        <div class="user_data">
            <!-- <h5>Kavi</h5> -->
            <p>Admin</p>
        </div>
    </div>

    <!-- <div class="bar_station_select">
        <h4 class="field_title">Select Station</h4>
        <select name="select" id="" class="station_select">
            <option value="all">Please Select Station</option>
            <option value="1">Station 1</option>
            <option value="2">Station 2</option>
            <option value="3">Station 3</option>
        </select>
    </div>
    <div class="period">
        <h4 class="field_title">Range</h4>
        <select name="select" id="" class="station_select">
            <option value="all">Please Select Station</option>
            <option value="1">Station 1</option>
            <option value="2">Station 2</option>
            <option value="3">Station 3</option>
        </select>
    </div> -->
</div>