.main_setting{
height: 100vh;
width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: black;
    /* background-color: var(--basebg); */
}
.mainBar{
    height: 6%;
    min-height: 6%;
    margin-left: -50px;
    width: 103.5%;
    background-color: #1050cd;
    /* background-color:var(--basebg); */
    background: rgb(10,97,184);
background: linear-gradient(90deg, rgb(111, 180, 249) 0%, rgb(113, 180, 248) 100%);
    /* border-radius: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainbg); 
  backdrop-filter: blur(10px); /* Glass effect */
  /* -webkit-backdrop-filter: blur(10px); */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(8px);
}

.user_session{
  width: 120px;
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

}
.profile-dropdown{
  display:flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  height: 100px;
  width: 200px;
  top: 20px;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
}
.user_session img{
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
.user_data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  width: 50px;
  color: white;
  /* background-color: white; */
  /* padding-left: 5px; */
  margin-right: 5px;


}
.user_data h5{
  /* margin-left: 10px; */
  margin: 0;
  color: white;
  
  /* color: bl; */
}
.user_data p{
  margin: 0;
  /* margin-left: 5px; */
  /* color  : wheat; */
  font-weight: 600;
}
.bar_station_select{
  margin-left: 5px;
  height: 85%;
  width: 200px;
  color: var(--icons);
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
.bar_station_select select{
  height: 20px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: var(--mainbg);
  opacity: 0.7;
  color: var(--icons);
}
select option{
  background-color: var(--basebg);
  font-size: 18px;
}
.field_title{
    margin: 0;
  }
.head{
    height: 5vh;
    width: 40%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
}

.option{
    color: black;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-weight: 100;
}
.option:hover{
    color: black;
    font-size: 17px;
    /* background-color: rgb(191, 190, 190); */
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-bottom: 2px;
    height: 18px;
width: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: 100;
}
.option_active{
    height: 18px;
    width: auto;
    width: 120px;
    background-color: rgba(157, 206, 249, 0.576);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    font-weight: 100;
    font-size: 15px;
    align-items: center;
    justify-content: center;cursor: pointer;
}


.boddy{
    /* height: 85; */
    /* max-height: 86vh; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* background-color: rgb(28, 48, 65); */
    overflow: hidden;
}